.modal-content {
  width: fit-content !important;
}
.modal-booking-container {
  height: fit-content;
  .title {
    font-weight: 600;
    font-size: 21px;
    text-align: center;
    padding: 1em;
    border-bottom: solid 1px grey;
  }
  .parent {
    display: flex;
    grid-gap: 4em;
    gap: 4em;
    padding: 1em 4em;
  }
  .parent-last {
    .content {
      display: flex;
      flex-direction: column;
      width: 50%;
      select {
        height: 100%;
      }
    }
  }
  .content-exam {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      width: 100%;
    }
  }
  input {
    width: 20em;
  }
  .footer {
    display: flex;
    gap: 2em;
    justify-content: end;
    padding: 2em;
    button {
      border: none;
      padding: 0.5em;
      border-radius: 5px;
    }
    .accept {
      background-color: orange;
    }
  }
}

.modal-dialog.boundary.modal-sm.modal-dialog-centered {
  display: flex;
  justify-content: center;
}
