.calendar {
  span {
    font-size: 15px;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 10px 0;
  }
}
.time-content {
  display: flex;
  gap: 1em;
  button {
    border-radius: 8px;
    border: none;
    padding: 8px;
    background: #a4bb78;
    &:hover {
      background: #1d69cc;
    }
  }
}
