.intro-specialty {
  padding: 1em;
  border: solid 1px grey;
  .title-spe {
    font-size: 30px;
    font-weight: 600;
  }
}
.select-province {
  padding: 1em;
}
.detail-container {
  display: flex;
  border: solid 1px grey;
  .detail-first-child {
    width: 50%;
    display: flex;
  }
  .detail-child {
    border-left: solid 1px grey;
    padding: 1em;
  }
}
