.row-input {
  display: flex;
  grid-gap: 1em;
  gap: 1em;
  justify-content: center;
  padding: 10px;
  .input {
    width: 20em;
    display: flex;
    flex-direction: column;
    text-align: initial;
    height: 3.5rem;
  }
  .avatar {
    flex-direction: column-reverse;
  }
  select {
    height: 100%;
  }
}
