.extra-container {
  border-left: solid 1px grey;
  padding-left: 1em;
}
.see-more {
  cursor: pointer;
  color: #1a75e7;
}
.down {
  padding: 2em 1em;
  border: solid 1px grey;
  border-radius: 14px;
  background: #ededed;
}
