.section-about {
  padding: 0 18rem;
  .section-about-header {
    font-weight: 700;
    font-size: 20px;
    padding: 5px 0;
  }

  .section-about-content {
    display: flex;
    gap: 5em;
  }
  .content-left {
    width: 50%;
  }
  .content-right {
    display: flex;
    .img {
      width: 10em;
      height: 10em;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
    }
    .img1 {
      background: url("../../../assets/images/vnexpress.png");
    }
    .img2 {
      background: url("../../../assets/images/vtv1.png");
    }
    .img3 {
      background: url("../../../assets/images/suckhoedoisong.png");
    }
  }
}
