.img-customize-doctor {
  cursor: pointer;
  .bg-image-doctor {
    background: url("../../../assets/images/142313-bs-tran-huu-binh.jpg");
  }
  display: flex !important;
  flex-direction: column;
  align-items: center;
  .bg-image-doctor {
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee;
    width: 10em;
    border-radius: 8em;
  }
  div:nth-child(2) {
    padding-top: 8px;
  }
}
