.section-specialty {
  height: 330px;
  background-color: #f5f5f5;
  .special-content {
    margin: 0 250px;
    display: flex;
    flex-direction: column;
  }
}
.hightlight {
  background: #eae9e9;
}

.img-customize {
  .bg-image-speciality {
    width: 90% !important;
  }
  .bg-image-facility {
    width: 80% !important;
  }
  .bg-image {
    padding-bottom: 5px;
    width: 348px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee;
  }
  div:nth-child(2) {
    padding-top: 6px;
  }
}
.special-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 1em 2em 1em 0;
  span {
    font-weight: 700;
    font-size: 20px;
  }
  button {
    background: #ebebeb;
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 15px;
    color: #282e41;
    border-color: transparent;
    &:hover {
      background-color: yellow;
    }
  }
}
.slick-prev {
  border: solid 1px green !important;
  left: 0 !important;
  z-index: 100 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fffbfb !important;
  border: 2px solid #d7d7d7 !important;
  &:hover {
    background-color: #eceaea !important;
  }
}

.slick-prev::before {
  font-family: FontAwesome !important;
  color: red !important;
}

.slick-next {
  border: solid 1px green !important;
  right: 5px !important;
  z-index: 100 !important;
  height: 48px !important;
  width: 44px !important;
  background: #fffbfb !important;
  border: 2px solid #d7d7d7 !important;
  &:hover {
    background-color: #eceaea !important;
  }
}

.slick-next::before {
  font-family: FontAwesome !important;
  color: red !important;
}

.slick-disabled {
  display: none !important;
}
.section-about {
  height: 500px;
}
.home-footer {
  text-align: center;
  a {
    text-decoration: unset;
  }
}
